name: Generate Badges

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  badges:
    uses: electro-sb/cicd_workflows/.github/workflows/badges.yml@main
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}