name: Generate Badges

on:
  push:
    branches:
      - '**'  # Run on all branches
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  badges:
    uses: electro-sb/cicd_central/.github/workflows/reusable-badges.yml@main
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}