name: Scan and Generate Badges

on:
  push:
    branches:
      - main
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  badges:
    uses: electro-sb/cicd_central/.github/workflows/ci-mand-scan-badge.yml@main
    #with:
      # optional any inputs defined in the central workflow
    secrets: inherit